@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-platinum-50: #f4f6f8;
  --color-platinum-100: #e3e8ef;
  --color-platinum-200: #c7d2de;
  --color-platinum-300: #a2b6c9;
  --color-platinum-400: #7793af;
  --color-platinum-500: #5a7896;
  --color-platinum-600: #485f7a;
  --color-platinum-700: #3a4d64;
  --color-platinum-800: #324254;
  --color-platinum-900: #2d3847;
  --color-platinum-950: #1d2530;

  --color-blood-500: #ff2a2a;
  --color-blood-600: #e60000;
  --color-blood-900: #4a0000;

  --background-image-grid-pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v40H0V0zm1 1h38v38H1V1z' fill='%23334155' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-200);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom scrollbar for the sidebar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-slate-950);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-800);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-700);
}