@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

pre::-webkit-scrollbar {
  height: 4px;
}
pre::-webkit-scrollbar-track {
  background: #0f172a;
}
pre::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 2px;
}
